html {}

body {
	background-color: rgb(242, 242, 242);
}

.title {
	color: rgb(66, 133, 244);
}

	.title a:visited {
		text-decoration: none;
		color: rgb(66, 133, 244);
	}

	.title a:hover {
		text-decoration: none;
	}

	.title a:active {
		text-decoration: none;	
	}


.content-container {
	margin: 10px 0 50px 0;
}

.main-content {
	margin: 0 auto;
	width:600px;
}
	.research-statement {
		margin-top: 50px;
	}

.main-img  img{
	width: 600px;
}


