<!DOCTYPE>
<html ng-app="portfolioApp">
	<head>
		<link rel="stylesheet" href="portfolio.css"/>
		<link rel="stylesheet" href="resources/bootstrap-3.3.2-dist/css/bootstrap.min.css"/>
		<script src="resources/bootstrap-3.3.2-dist/js/bootstrap.min.js"></script>
		<script src="resources/angular.min.js"></script>
		<script src="portfolio.js"></script>
	</head>
	<body>
		<div class="container-fluid portfolio-pg-container">
			<div class="row nav">
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-offset-1">
							<div class="row"><h3><a class="nav__link" href="home.html">Old Pine Capital</a></h3></div>
						</div>
					</div>
				</div>
			</div>

			<div class="row tabs">
				<ul class="tabs-list">
					<li class="tabs-list__item">
						<a class="tabs-list__link" href="summary.html">Summary</a>
					</li>
					<li class="tabs-list__item">
						<a class="tabs-list__link" href="portfolio.html">Current Portfolio</a>
						<div class="tabs-list__item-underline--lg"></div>
					</li>
				</ul>
			</div>

			<div class="tables" ng-controller="historicalController">
				<div class="row current-exposure__header">
					<p class="lead"><small>Current Portfolio Exposure</small></p>
				</div>

				<!-- Current Portfolio Exposure table -->
				<div class="row">
					<table class="table p-table table-hover current-exposure-table">
						<tr class="info">
							<th class="current-exposure-table__col">DATE</th>
							<th class="current-exposure-table__col">VOLATILITY</th>
							<th class="current-exposure-table__col">COMMDTY</th>
							<th class="current-exposure-table__col">IG BND</th>
							<th class="current-exposure-table__col">HY BND</th>
							<th class="current-exposure-table__col">GOVT BND</th>
							<th class="current-exposure-table__col">REIT</th>
							<th class="current-exposure-table__col">EMRG MRKT</th>
							<th class="current-exposure-table__col">INTL STK</th>
							<th class="current-exposure-table__col">SMALL CAP</th>
							<th class="current-exposure-table__col">LARGE CAP</th>
							<th class="current-exposure-table__col">CASH</th>
						</tr>
						<tr class="warning">
							<td class="current-exposure-table__col">6/2/2016</td>
							<td class="current-exposure-table__col">20.19%</td>
							<td class="current-exposure-table__col">0.00%</td>
							<td class="current-exposure-table__col">8.06%</td>
							<td class="current-exposure-table__col">13.49%</td>
							<td class="current-exposure-table__col">8.35%</td>
							<td class="current-exposure-table__col">11.52%</td>
							<td class="current-exposure-table__col">0.00%</td>
							<td class="current-exposure-table__col">0.00%</td>
							<td class="current-exposure-table__col">10.33%</td>
							<td class="current-exposure-table__col">10.56%</td>
							<td class="current-exposure-table__col">17.49%</td>
						</tr>
					</table>
				</div>
				
				<div class="row historical-exposure__header">
					<p class="lead"><small>Historical Exposure (Live tracking since 06/2014)</small></p>
				</div> 

				<!-- date filter options -->
				<div class="row date-filter-options">
					
					<span>From: </span>
					<select  ng-options="month.name for month in monthSelectOptions" ng-model="start_month"></select>
					<select ng-options="year.date for year in yearSelectOptions" ng-model="start_yr"></select>
					<span>To: </span>
					<select ng-options="month.name for month in monthSelectOptions" ng-model="end_month"></select>
					<select ng-options="year.date for year in yearSelectOptions" ng-model="end_yr"></select>
					<button type="button" ng-click="refreshTable()"=> Go </button>
					<!-- <button type="button" class="btn btn-default">Success</button> -->
					<!-- <button type="button" class="btn btn-default">Success</button> -->
				</div>

				<div class="row">
					<!-- Historical Exporsure table-->
					<table class="table p-table table-hover hist-table">
						<thead>
							<tr class="info">
								<th class="historical-exposure-table__col">DATE</th>
								<th class="historical-exposure-table__col">VOLATILITY</th>
								<th class="historical-exposure-table__col">COMMDTY</th>
								<th class="historical-exposure-table__col">IG BND</th>
								<th class="historical-exposure-table__col">HY BND</th>
								<th class="historical-exposure-table__col">GOVT BND</th>
								<th class="historical-exposure-table__col">REIT</th>
								<th class="historical-exposure-table__col">EMRG MRKT</th>
								<th class="historical-exposure-table__col">INTL STK</th>
								<th class="historical-exposure-table__col">SMALL CAP</th>
								<th class="historical-exposure-table__col">LARGE CAP</th>
								<th class="historical-exposure-table__col">CASH</th>

							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="entry in filtered_entries">
								<td class="historical-exposure-table__col">{{entry.date}}</td>
								<td class="historical-exposure-table__col">{{entry.volatility}}</td>
								<td class="historical-exposure-table__col">{{entry.commdty}}</td>
								<td class="historical-exposure-table__col">{{entry.ig_bnd}}</td>
								<td class="historical-exposure-table__col">{{entry.hy_bnd}}</td>
								<td class="historical-exposure-table__col">{{entry.govt_bnd}}</td>
								<td class="historical-exposure-table__col">{{entry.reit}}</td>
								<td class="historical-exposure-table__col">{{entry.emrg_mrkt}}</td>
								<td class="historical-exposure-table__col">{{entry.intl_stk}}</td>
								<td class="historical-exposure-table__col">{{entry.small_cap}}</td>
								<td class="historical-exposure-table__col">{{entry.large_cap}}</td>
								<td class="historical-exposure-table__col">{{entry.cash}}</td>
							</tr>
						</tbody>
					</table>
					<!-- historical exposure table -->							
				</div>
			</div>
			<footer class="row">
				<div class="col-md-8 col-md-offset-1">
					<div class="row">
						<div class="row main-content">
							<p>@ 2016 Old Pine Capital, LLC</p> 
						</div>
					</div>
				</div>
			</footer>
		</div>
	</body>
</html>